[Unit]
Description=Xray Multi-login Lock Service
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /usr/local/sbin/killTR
Restart=on-failure

[Install]
WantedBy=multi-user.target